<div class="background-session">
  <div class="session-main">

    <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>

     <h1 class="session">新規登録画面</h1>

     <div class="error-alert">
        <div class="error-message">
          <%= render "layouts/error_messages", model: f.object %>
        </div>
      </div>
      
      <div class="all-field">
        <div class="field">
          <div class="field2">
           <span class="indispensable2">必須</span>
          <label class="session2">Nickname(10字以内)</label>
          </div>
          <%= f.text_field :nickname, autocomplete: "off", class: "field1" %>  
        </div>

        <div class="field">
          <div class="field2">
            <span class="indispensable2">必須</span>
          <label class="session2">Email(@を入れる)</label>
          </div>
          <%= f.email_field :email, autofocus: true, autocomplete: "off", class: "field1" %>
          
        </div>

        <div class="field">
           <div class="field2">
           <span class="indispensable2">必須</span>
           <label class="session2">パスワード(6字以上)</label>
           </div>
          <%= f.password_field :password, autocomplete: "off", class: "field1" %>
        </div>

        <div class="field">
         <div class="field2">
         <span class="indispensable2">必須</span>
         <label class="session2">パスワード(確認)</label>
         </div>
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "field1" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>
      </div>

      <div class="actions">
        <%= link_to "もどる", root_path, class: "log-in-btn1" %>
        <%= f.submit "登録する", class: "log-in-btn" %>
      </div>
    <% end %>
  </div>
</div>

