<div class="main">
  <div class="fancybox12">
      <div class="log">
        <%= link_to "ログイン", "#", class: "post" %>
      </div>
      <h1 class="title">タイトル</h1>
      <div class="log">
        <%= link_to "新規登録", "#", class: "post" %>
       </div>
    </div>

    <div class="post">
    <a class="post1" href="#">投稿する</a>
  </div>

  <div class="item-contents"> 
    <ul class="item-lists">
        <div class="contents row">
          <% @cooks.each do |cook| %>
            <li>
              <%# <%= link_to cook_path(cook.id) do %> 
                <div class="content_post"> 
                  <%= image_tag cook.image, class: 'content_post2'%>
                  <p class="name">料理名:<%= cook.recipe_name %></p> 
                  </div>
              <%# <% end %> 
            </li>
          <% end %>
        </div>
      </ul>
    </div>

</div>