<!DOCTYPE html>
<html>
  <head>
    <title>Cooking</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <footer>
      <p class="footer">
      <%= image_tag "stop.png", :size => '20x20' %> Copyright nomiaruki 2020.<%= image_tag "stop.png", :size => '20x20' %>
      </p>
    </footer>
  </body>
</html>
